*{

  font-family: 'Open Sans', sans-serif;
}
body {
  
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(235, 235, 235);
}

html,
body,
#root{
  background-color: #efefef;
  height: 100%;
  overflow-x: hidden; /* lembrando esse comando tira a rolagem*/
}
