.but{
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    margin-right: 12.8%;
}

@media (max-width:1366px) {
    .but{
        margin-right: 9%;
    }
}

.but:hover{
    color: #ffbb33;
}